
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Edit Client</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">



    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">

  </head>
  
  
  <body>

  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-3" role="banner" style="background-image: url(/images/hero_bg_1.jpg);">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="/index" class="text-white h2 mb-0">Rent-it!</a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li><a href="/vehicle">Home</a></li>
                <li><a href="/clients">Client Manager</a></li>
              </ul>
            </nav>
          </div>

          </div>

        </div>

    </header>







    <div class="site-section">
      <div class="site-section bg-light" id="section-contact">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Modify Client</h2>
            <p class="color-black-opacity-5">Edit Client Information</p>
          </div>
        </div>


     <form action="#" th:action="@{/save}" th:object="${modify}"
    method="post">

    <table >
      <tr>
            <td>Client:</td>
            <td>
             <input type="text" th:field="*{clientID}" readonly="readonly"/>
          </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>
                <input type="text" th:field="*{firstName}" />
            </td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td>
                <input type="text" th:field="*{lastName}" />
            </td>
        </tr>
        <tr>
            <td>Licence Number:</td>
            <td><input type="text" th:field="*{licenceNumber}" /></td>
        </tr>
        <tr>
            <td>Licence Validity:</td>
            <td><input type="text" th:field="*{licenceValidity}" /></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" th:field="*{phone}" /></td>
        </tr>
         
        <tr>
            <td>Clerk:</td>
            <td>
             <input type="text" th:field="*{clerkid}" readonly="readonly"/>
          </td>
        </tr>
        
        <tr>
            <td>Booking:</td>
            <td>
             <input type="text" th:field="*{bookingId}" readonly="readonly"/>
          </td>
        </tr>
        
        <tr>
            <td>Vehicle:</td>
            <td>
             <input type="text" th:field="*{vehicleId}" readonly="readonly"/>
          </td>
        </tr>
        
        <tr>
            <td colspan="2"><button type="submit">Save</button> </td>
            <td colspan="2"><button type="submit">Cancel</button> </td>
        </tr>
    </table>
</form>
      </div>
    </div>

    </div>





    <footer class="site-footer" style="background-image: url(/images/hero_bg_5.jpg);">
    </footer>
  </div>

  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/aos.js"></script>

  <script src="/js/main.js"></script>

  </body>
</html>
